node-red/flow_May17_2022.json
[{"id":"ebdbdab4.05b098","type":"subflow","name":"MQTT Out LoRaWAN Dclimatiot","info":"","category":"","in":[{"x":80,"y":320,"wires":[{"id":"2187885f.66e2a"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2187885f.66e2a","type":"switch","z":"ebdbdab4.05b098","name":"Network Check","property":"network","propertyType":"msg","rules":[{"t":"eq","v":"TTNv2","vt":"str"},{"t":"eq","v":"TTNv3","vt":"str"},{"t":"eq","v":"Helium","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":320,"wires":[[],["c8e2d48.cfefa28"],["56df1566.b53414"]]},{"id":"42adcd1b.7a217c","type":"mqtt out","z":"ebdbdab4.05b098","name":"Downlink TTN v3","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"be6de80a.01f388","x":650,"y":320,"wires":[]},{"id":"c8e2d48.cfefa28","type":"function","z":"ebdbdab4.05b098","name":"Format downlink TTNv3","func":"\nvar devid = msg.dev_id;\nvar downlink = msg.downlink;\n\nmsg.topic = `v3/dclimateiot3@ttn/devices/${devid}/down/replace`\n\nvar bytes = Buffer.from(downlink);\n\nmsg.payload = {\n  downlinks: [{\n      f_port:1,\n      frm_payload: Buffer.from(bytes).toString('base64'),\n      priority: \"HIGH\"\n  }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["42adcd1b.7a217c","386019dd.dedfc6"]]},{"id":"56df1566.b53414","type":"function","z":"ebdbdab4.05b098","name":"Format downlink Helium","func":"\nvar devid = msg.dev_id;\nvar downlink = msg.downlink;\n\nmsg.topic = `helium/dclimateiot/1dea9ac8-822e-4867-b0b8-0d9758e3eaeb/${devid}/tx`;\n\nvar bytes = Buffer.from(downlink);\n\nmsg.payload = {\n  dev_id: devid,\n  port: 1,\n  confirmed: false,\n  schedule: 'replace',\n  payload_raw: Buffer.from(bytes).toString('base64')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":380,"wires":[["2d57ee26.a5f5c2"]]},{"id":"2d57ee26.a5f5c2","type":"mqtt out","z":"ebdbdab4.05b098","name":"Downlink Helium","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bdb1012.cb9ab","x":670,"y":420,"wires":[]},{"id":"386019dd.dedfc6","type":"debug","z":"ebdbdab4.05b098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":140,"wires":[]},{"id":"4464ce88.883078","type":"tab","label":"dClimateIot","disabled":false,"info":""},{"id":"97b2e209.fcf3a8","type":"eosio-push","z":"4464ce88.883078","name":"Submitdata","blockchain":"other","endpoint":"other","customendpoint":"http://api.kandaweather.net","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"dclimateiot4","actionname":"submitdata","x":710,"y":300,"wires":[[]]},{"id":"fecee721.671eb8","type":"mqtt in","z":"4464ce88.883078","name":"Helium dClimate","topic":"helium/dclimateiot/1dea9ac8-822e-4867-b0b8-0d9758e3eaeb/rx","qos":"0","datatype":"json","broker":"8bdb1012.cb9ab","nl":false,"rap":false,"x":110,"y":440,"wires":[["57aa753c.8f8a54"]]},{"id":"57aa753c.8f8a54","type":"change","z":"4464ce88.883078","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"Helium","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"payload.reported_at/1000","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.metadata.labels[0].name","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.fcnt","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.port","tot":"msg"},{"t":"set","p":"hotspots","pt":"msg","to":"payload.hotspots","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.decoded.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":480,"wires":[["a546ce36.47e81"]]},{"id":"a546ce36.47e81","type":"switch","z":"4464ce88.883078","name":"Port check","property":"port","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":520,"wires":[["bd1d92a.71614f"],["8c4a200e.00711"],["fbb7c6d3.5f619"],[],["8280cb04.80761","9a753cb.aa123c"]]},{"id":"46b26a33.e82f14","type":"comment","z":"4464ce88.883078","name":"Helium MQTT Security warning","info":"\nAs of December 1, 2021 Helium does not offer username/password security on their app page, leaving the MQTT connection to be unsecure.\n  \nMy temporary security solution by simply adding the MQTT node ID provided by Helium to the topic.\n\nIdeally, a bad actor will not have access the Helium console to get this ID number... otherwise we would probably have bigger troubles to begin with.\n  ","x":180,"y":400,"wires":[]},{"id":"4405cecb.9bd1e","type":"eosio-push","z":"4464ce88.883078","name":"Add Miner","blockchain":"mainnet","endpoint":"https://telos.caleos.io","customendpoint":"http://api.kandaweather.net","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"dclimateiot4","actionname":"addminer","x":750,"y":620,"wires":[["2e30d574.0be02a"]]},{"id":"f993fe7.c5115","type":"catch","z":"4464ce88.883078","name":"If Webset Error","scope":["4405cecb.9bd1e"],"uncaught":false,"x":120,"y":680,"wires":[["a6940000.8d8e28","e27d8f2a.360c48"]]},{"id":"a6940000.8d8e28","type":"debug","z":"4464ce88.883078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":660,"wires":[]},{"id":"e27d8f2a.360c48","type":"change","z":"4464ce88.883078","name":"Blockchain error message","rules":[{"t":"set","p":"downlink","pt":"msg","to":"\"10\" & error.message","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":740,"wires":[["59e1a659.aa32b"]]},{"id":"26b75d90.81966a","type":"mqtt in","z":"4464ce88.883078","name":"TTN v3 dClimate","topic":"v3/dclimateiot3@ttn/devices/+/up","qos":"0","datatype":"json","broker":"be6de80a.01f388","nl":false,"rap":true,"rh":0,"x":110,"y":540,"wires":[["2d3a3a8d.2d0b1e"]]},{"id":"2d3a3a8d.2d0b1e","type":"change","z":"4464ce88.883078","name":"TTNv3 Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"TTNv3","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.end_device_ids.application_ids.application_id","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.uplink_message.f_port","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload","tot":"msg"},{"t":"set","p":"unix_time","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"},{"t":"set","p":"payload.dev_name","pt":"msg","to":"dev_id","tot":"msg"},{"t":"set","p":"payload.unix_time_s","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":580,"wires":[["a546ce36.47e81"]]},{"id":"2e30d574.0be02a","type":"change","z":"4464ce88.883078","name":"Authenticated message","rules":[{"t":"set","p":"downlink","pt":"msg","to":"11Authenticated!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":660,"wires":[["c55635aa.49ca68"]]},{"id":"c55635aa.49ca68","type":"subflow:ebdbdab4.05b098","z":"4464ce88.883078","name":"","x":930,"y":700,"wires":[]},{"id":"59e1a659.aa32b","type":"subflow:ebdbdab4.05b098","z":"4464ce88.883078","name":"","x":480,"y":780,"wires":[]},{"id":"3a1ea678.410e5a","type":"eosio-push","z":"4464ce88.883078","name":"Submitgps","blockchain":"other","endpoint":"other","customendpoint":"http://api.kandaweather.net","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"dclimateiot4","actionname":"submitgps","x":810,"y":520,"wires":[[]]},{"id":"8c4a200e.00711","type":"function","z":"4464ce88.883078","name":"Geolocation JSON format","func":"\n// Store coordinates for later\nmsg.latitude = msg.payload.latitude_deg;\nmsg.longitude = msg.payload.longitude_deg;\nmsg.elevation = msg.payload.gps_elevation_m;\nmsg.unix_time = msg.payload.unix_time_s;\n\nhotspots = msg.hotspots;\n\n// Create gateways object\ngateways = [];\nframes = [];\nfor ( var ind=0; ind<hotspots.length; ind++ )\n{\n    hotspot = hotspots[ind];\n    \n    gateway = {\n        \"gatewayId\":hotspot.id,\n        \"latitude\":hotspot.lat,\n        \"longitude\":hotspot.long,\n        \"altitude\":0\n    };\n    gateways.push(gateway);\n    \n    frame = [ hotspot.id , \n            null, \n            null, // Currently Helium hotspots return ms not us for TDOA\n            hotspot.rssi,\n            hotspot.snr];\n            \n    frames.push(frame);\n    \n}\n\nmsg.payload = {\n    \"gateways\":gateways, \n    \"frame\":frames,\n    \"params\":{\n        \"locAlgType\":\"RSSI_ALG\",\n        \"doRssiTdoaCombine\":false\n    }\n}\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"AQEAvxIJPYabDpFrAZ5Oz/tx05jgEoikKH/G8wBGD6LvtTe6N2H6\"\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":400,"wires":[["21b72282.03648e"]]},{"id":"21b72282.03648e","type":"http request","z":"4464ce88.883078","name":"LoRa Cloud solver Request","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://gls.loracloud.com/api/v3/solve/singleframe","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":440,"wires":[["9c8b1d87.41a2e8"]]},{"id":"9c8b1d87.41a2e8","type":"function","z":"4464ce88.883078","name":"Format submitgps Action","func":"\nlatitude_lorawan = msg.payload.result.locationEst.latitude;\nlongitude_lorawan = msg.payload.result.locationEst.longitude;\n\nmsg.payload = {\n    \"lat_deg_geo\":latitude_lorawan,\n    \"lon_deg_geo\":longitude_lorawan,\n    \"latitude_deg\": parseFloat(msg.latitude.toFixed(2)),\n    \"longitude_deg\": parseFloat(msg.longitude.toFixed(2)),\n    \"elev_gps_m\": msg.elevation,\n    \"devname\": msg.dev_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":480,"wires":[["3a1ea678.410e5a"]]},{"id":"fbb7c6d3.5f619","type":"change","z":"4464ce88.883078","name":"Add devname","rules":[{"t":"set","p":"payload.devname","pt":"msg","to":"dev_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":580,"wires":[["4405cecb.9bd1e"]]},{"id":"bd1d92a.71614f","type":"function","z":"4464ce88.883078","name":"Flags to Integer","func":"\nflag_total = 0;\n\nflags = msg.payload.flags;\n\nif (typeof(flags)==='object')\n{\n    // Convert last 4 flags to integer\n    if (flags.bit_16) flag_total += 16;\n    if (flags.bit_32) flag_total += 32;\n    if (flags.bit_64) flag_total += 64;\n    if (flags.bit_128) flag_total += 128;\n    \n    msg.payload.flags = flag_total;\n}\nelse\n{\n    msg.payload.flags = 0; // deprecated\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":220,"wires":[["9b84cb78.5f6ef"]]},{"id":"33d8ee69.970072","type":"mqtt in","z":"4464ce88.883078","name":"TTN v3 dclimateiot-tprh-0-3-0","topic":"v3/dclimateiot-tprh-0-3-0@ttn/devices/+/up","qos":"0","datatype":"json","broker":"42e0fe3a.0c3b08","nl":false,"rap":true,"rh":0,"x":170,"y":260,"wires":[["b4dda048.d10908"]]},{"id":"b4dda048.d10908","type":"change","z":"4464ce88.883078","name":"TTNv3 Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"TTNv3","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.end_device_ids.application_ids.application_id","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.uplink_message.f_port","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload","tot":"msg"},{"t":"set","p":"payload.dev_name","pt":"msg","to":"dev_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":300,"wires":[["a546ce36.47e81"]]},{"id":"9b84cb78.5f6ef","type":"function","z":"4464ce88.883078","name":"Add devname","func":"\n\nmsg.payload.devname = msg.dev_id;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":260,"wires":[["97b2e209.fcf3a8"]]},{"id":"8280cb04.80761","type":"eosio-push","z":"4464ce88.883078","name":"Submitdata","blockchain":"other","endpoint":"other","customendpoint":"http://api.kandaweather.net","privkeyfile":"telos_keystore.txt","inputtype":"trx","contract":"dclimateiot4","actionname":"submitdata","x":550,"y":660,"wires":[[]]},{"id":"9a753cb.aa123c","type":"debug","z":"4464ce88.883078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":620,"wires":[]},{"id":"8bdb1012.cb9ab","type":"mqtt-broker","name":"Localhost MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"be6de80a.01f388","type":"mqtt-broker","name":"TTN v3 dclimateiot","broker":"eu1.cloud.thethings.network","port":"1883","tls":"a498de89.2db18","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"42e0fe3a.0c3b08","type":"mqtt-broker","name":"TTN v3 dclimateiot-tprh-0-3-0","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a498de89.2db18","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]
