node-red/flow_May17_2022.json
[{"id":"1fe2e82b.689ca8","type":"tab","label":"Reset launch times","disabled":false,"info":""},{"id":"d23693c0.8b7b","type":"tab","label":"Main","disabled":false,"info":""},{"id":"4464ce88.883078","type":"tab","label":"dClimateIot","disabled":false,"info":""},{"id":"ebbe2b7a.a97ce","type":"tab","label":"MeasEarth","disabled":false,"info":""},{"id":"7da6af6.49d0cd","type":"tab","label":"Check Sensors","disabled":false,"info":""},{"id":"d55d48b.95c32b8","type":"subflow","name":"MQTT In LoRaWAN Balloon","info":"","category":"","in":[],"out":[{"x":640,"y":320,"wires":[{"id":"6d0f7dfd.f3d1c4","port":0},{"id":"df325dab.552398","port":0},{"id":"35294fbf.f8c54","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b52f63a.b42302","type":"subflow","name":"MQTT Out LoRaWAN Balloon","info":"","category":"","in":[{"x":60,"y":300,"wires":[{"id":"21ce3455.430a8c"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9de173ec.1a5b58","type":"subflow","name":"Geolocation solver","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ebdbdab4.05b098","type":"subflow","name":"MQTT Out LoRaWAN Dclimatiot","info":"","category":"","in":[{"x":80,"y":320,"wires":[{"id":"2187885f.66e2a"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"8ffb8f47.dd7308","type":"subflow","name":"Get TaPoS","info":"","category":"","in":[{"x":80,"y":200,"wires":[{"id":"b7529c71.cadfb"}]}],"out":[{"x":500,"y":340,"wires":[{"id":"ba333bf9.0066a","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"55027602.a97d88","type":"subflow","name":"SenseCAP S2120 Subflow","info":"","category":"","in":[],"out":[{"x":700,"y":360,"wires":[{"id":"de54ee63.b18fe","port":0},{"id":"6948256.82e54dc","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"faed66c1.4eb0a","type":"subflow","name":"SenseCAP t-rh","info":"","category":"","in":[],"out":[{"x":780,"y":220,"wires":[{"id":"f2fc507a.d83a08","port":1},{"id":"8c12845b.57d928","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"d21c138c.36266","type":"mqtt-broker","name":"TTN v3 Radiosondes","broker":"eu1.cloud.thethings.network","port":"1883","tls":"a498de89.2db18","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a498de89.2db18","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"114da57a.29872b","type":"telegram bot","botname":"ttn_mqtt_failure_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"594c445b.c3569c","type":"mqtt-broker","name":"TTN v3 AccraWAN Feather","broker":"eu1.cloud.thethings.network","port":"8883","tls":"a498de89.2db18","clientid":"radiosonde_payloads","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8bb80ef0.d74e2","type":"mqtt-broker","z":"d55d48b.95c32b8","name":"TTN v2","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"13119360.3c6d45","type":"mqtt-broker","d":true,"name":"TTN v2","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2abcd20d.6b96a6","type":"mqtt-broker","z":"d55d48b.95c32b8","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4fa41e23.d5886","type":"mqtt-broker","z":"b52f63a.b42302","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8bdb1012.cb9ab","type":"mqtt-broker","name":"Localhost MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"be6de80a.01f388","type":"mqtt-broker","name":"TTN v3 dclimateiot","broker":"eu1.cloud.thethings.network","port":"1883","tls":"a498de89.2db18","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"42e0fe3a.0c3b08","type":"mqtt-broker","name":"TTN v3 dclimateiot-tprh-0-3-0","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bbbba7d8.39d958","type":"telegram bot","botname":"mainnet_kickListener_bot","usernames":"","chatids":"-679163298","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"ceae65a.105e518","type":"telegram bot","botname":"mainnet_kickListener_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a60ab471.70968","type":"mqtt-broker","z":"55027602.a97d88","name":"TTN S2120 8-in-1","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1825c667.d972ba","type":"eosio-push","z":"1fe2e82b.689ca8","blockchain":"mainnet","endpoint":"https://telos.caleos.io","customendpoint":"","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascensiondal","actionname":"settimeslots","permission":"","x":750,"y":180,"wires":[[]]},{"id":"4c3a8c98.af07e4","type":"inject","z":"1fe2e82b.689ca8","name":"Hard set launch window","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"first_start_time\":0}","payloadType":"json","x":370,"y":180,"wires":[["e14f276a.bf3fd8"]]},{"id":"e14f276a.bf3fd8","type":"change","z":"1fe2e82b.689ca8","name":"First window to unix_time minus 1 hour","rules":[{"t":"set","p":"payload.first_start_time","pt":"msg","to":"$floor( ($millis()/1000) - 3600)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[["9309d919.ba79e8","f37ae795.a6c758","1825c667.d972ba","54f7a7d4.262f58"]]},{"id":"cbdaa31f.869ef","type":"comment","z":"1fe2e82b.689ca8","name":"dal","info":"","x":890,"y":180,"wires":[]},{"id":"54f7a7d4.262f58","type":"eosio-push","z":"1fe2e82b.689ca8","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascensionuyo","actionname":"settimeslots","x":750,"y":220,"wires":[[]]},{"id":"6d407da5.6a6124","type":"comment","z":"1fe2e82b.689ca8","name":"uyo","info":"","x":890,"y":220,"wires":[]},{"id":"f37ae795.a6c758","type":"eosio-push","z":"1fe2e82b.689ca8","blockchain":"mainnet","endpoint":"https://telos.caleos.io","customendpoint":"","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascensionacc","actionname":"settimeslots","x":750,"y":260,"wires":[[]]},{"id":"8b323c2a.86a03","type":"comment","z":"1fe2e82b.689ca8","name":"accra","info":"","x":890,"y":260,"wires":[]},{"id":"e66e33b1.dbe71","type":"comment","z":"1fe2e82b.689ca8","name":"Point to relevant location","info":"","x":810,"y":140,"wires":[]},{"id":"554f8bc6.74edf4","type":"eosio-push","z":"d23693c0.8b7b","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"","actionname":"addobs","permission":"active","x":630,"y":220,"wires":[["372291d1.20b4ce"]]},{"id":"8cd8a9b6.058668","type":"switch","z":"d23693c0.8b7b","name":"Port check","property":"port","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":190,"y":440,"wires":[["5d446dc0.8cb964"],[],["cc2b7dc6.6d7af"]]},{"id":"936ef75b.642b38","type":"change","z":"d23693c0.8b7b","name":"Adjust obs fields","rules":[{"t":"set","p":"payload.unix_time_s","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"},{"t":"set","p":"payload.flags","pt":"msg","to":"(payload.flags.a ? 1 : 0)*128  +\t(payload.flags.b ? 1 : 0)*64  +\t(payload.flags.c ? 1 : 0)*32  +\t(payload.flags.d ? 1 : 0)*16  +\t(payload.flags.e ? 1 : 0)*8 +\t(payload.flags.f ? 1 : 0)*4 +\t(payload.flags.g ? 1 : 0)*2 +\t(payload.flags.h ? 1 : 0)*1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["e94a3ae5.353da8"]]},{"id":"ce940b44.f497b8","type":"change","z":"d23693c0.8b7b","name":"Add webset fields","rules":[{"t":"set","p":"payload.unix_time","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"},{"t":"set","p":"payload.device_type","pt":"msg","to":"Cybaart Kanda v0.3.2","tot":"str"},{"t":"set","p":"payload.wxcondition","pt":"msg","to":"Unknown","tot":"str"},{"t":"set","p":"payload.surf_pressure","pt":"msg","to":"1008","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":680,"wires":[["8d1ba51f.bc8a38"]]},{"id":"8d1ba51f.bc8a38","type":"function","z":"d23693c0.8b7b","name":"Add random launchid","func":"// Create random eosio name for launch id\nlet launchid = '';\n// subset of characters allowed in eosio names\nconst characters = 'abcdefghijklmnopqrstuvwxyz12345';\n// Twelve characters per account name\nfor (var i = 0; i < 12; i++) \n{\n    launchid += characters.charAt(Math.floor(Math.random() * characters.length));\n}\n\nmsg.payload.launch_id = launchid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":720,"wires":[["8bc94880.7cf768","7c595f06.d3e6b"]]},{"id":"8c52559b.390998","type":"delay","z":"d23693c0.8b7b","name":"Wait 3 minutes","pauseType":"delay","timeout":"180","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":800,"wires":[["911e0521.1ecc38"]]},{"id":"911e0521.1ecc38","type":"function","z":"d23693c0.8b7b","name":"Forget launch fields","func":"\n// Remove miner field\nflow.set(msg.dev_id+'.miner', null);\nflow.set(msg.dev_id+'.launchid',null);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":860,"wires":[[]]},{"id":"3e220847.9e8ae8","type":"function","z":"d23693c0.8b7b","name":"Store launch fields","func":"\nlaunchid = msg.payload.launch_id;\nminer = msg.payload.miner;\n\nflow.set(msg.dev_id+'.launchid',launchid);\nflow.set(msg.dev_id+'.miner',miner);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":620,"wires":[["e6e8b87e.67a588"]]},{"id":"4658557.af59bac","type":"delay","z":"d23693c0.8b7b","name":"Wait 2 hours","pauseType":"delay","timeout":"7200","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":780,"wires":[["911e0521.1ecc38"]]},{"id":"7227ec24.b6fa74","type":"catch","z":"d23693c0.8b7b","name":"If Webset Error","scope":["8bc94880.7cf768"],"uncaught":false,"x":480,"y":900,"wires":[["b1e94746.65eae8","c3351a5b.5ce568"]]},{"id":"5d446dc0.8cb964","type":"function","z":"d23693c0.8b7b","name":"Check if verified","func":"var launchid = flow.get(msg.dev_id+'.launchid');\nvar miner = flow.get(msg.dev_id+'.miner');\n\n\noutputs = [null, null];\n\nif ( launchid !== undefined && launchid !==null )\n{\n    outputs[0] = msg;\n}\nelse\n{\n    // Remove other fields\n    msg.payload = {};\n    \n    // Set default miner to be contract\n    msg.payload.miner = msg.dev_id;\n    \n    outputs[1] = msg;\n}\n\nreturn outputs;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":380,"wires":[["936ef75b.642b38"],["eb1dadc7.b3128"]]},{"id":"e94a3ae5.353da8","type":"function","z":"d23693c0.8b7b","name":"Add launch id","func":"\nmsg.payload.launch_id = flow.get(msg.dev_id+'.launchid');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":320,"wires":[["554f8bc6.74edf4"]]},{"id":"8bc94880.7cf768","type":"eosio-push","z":"d23693c0.8b7b","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"","actionname":"websetlaunch","permission":"active","x":590,"y":760,"wires":[["3e220847.9e8ae8","1908fe54.cccc32"]]},{"id":"7c595f06.d3e6b","type":"function","z":"d23693c0.8b7b","name":"Format tgram message","func":"\nminer = msg.payload.miner;\n\nmsg.payload = {};\n\n//msg.payload.chatId = 542412063;\nmsg.payload.chatId = -1001150542152;\nmsg.payload.type = \"message\";\n\nmsg.payload.content = `Miner ${miner} is AUTHENTICATING device ${msg.dev_id}.`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":680,"wires":[["7faac2ef.17f88c"]]},{"id":"7faac2ef.17f88c","type":"telegram sender","z":"d23693c0.8b7b","name":"","bot":"114da57a.29872b","haserroroutput":false,"outputs":1,"x":660,"y":700,"wires":[[]]},{"id":"41461a36.09c0b4","type":"function","z":"d23693c0.8b7b","name":"Format tgram message","func":"\nmsg.payload = {};\n\n//msg.payload.chatId = 542412063;\nmsg.payload.chatId = -1001150542152;\nmsg.payload.type = \"message\";\nmsg.payload.content = `Device ${msg.dev_id} has LAUNCHED.`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":260,"wires":[["9e4f0ff6.e2532"]]},{"id":"9e4f0ff6.e2532","type":"telegram sender","z":"d23693c0.8b7b","name":"","bot":"114da57a.29872b","haserroroutput":false,"outputs":1,"x":880,"y":280,"wires":[[]]},{"id":"372291d1.20b4ce","type":"delay","z":"d23693c0.8b7b","name":"Rate Limit one per 2 hours","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"7200","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":860,"y":220,"wires":[["41461a36.09c0b4"]]},{"id":"eb1dadc7.b3128","type":"change","z":"d23693c0.8b7b","name":"Add webset fields","rules":[{"t":"set","p":"payload.unix_time","pt":"msg","to":"unix_time","tot":"msg"},{"t":"set","p":"payload.device_type","pt":"msg","to":"Cybaart Kanda v0.3.1","tot":"str"},{"t":"set","p":"payload.wxcondition","pt":"msg","to":"Unknown","tot":"str"},{"t":"set","p":"payload.surf_pressure","pt":"msg","to":"1008","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":380,"wires":[["1aac3b0b.363ea5"]]},{"id":"1aac3b0b.363ea5","type":"function","z":"d23693c0.8b7b","name":"Add random launchid","func":"// Create random eosio name for launch id\nlet launchid = '';\n// subset of characters allowed in eosio names\nconst characters = 'abcdefghijklmnopqrstuvwxyz12345';\n// Twelve characters per account name\nfor (var i = 0; i < 12; i++) \n{\n    launchid += characters.charAt(Math.floor(Math.random() * characters.length));\n}\n\nmsg.payload.launch_id = launchid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":420,"wires":[["5a366da9.40f154"]]},{"id":"8ec140ff.529c9","type":"delay","z":"d23693c0.8b7b","name":"Wait 3 minutes","pauseType":"delay","timeout":"180","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":480,"wires":[["97e03a07.823788"]]},{"id":"97e03a07.823788","type":"function","z":"d23693c0.8b7b","name":"Forget launch fields","func":"\n// Remove miner field\nflow.set(msg.dev_id+'.miner', null);\nflow.set(msg.dev_id+'.launchid',null);\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":540,"wires":[[]]},{"id":"8df8c72a.2569f8","type":"function","z":"d23693c0.8b7b","name":"Store launch fields","func":"\nlaunchid = msg.payload.launch_id;\nminer = msg.payload.miner;\n\nflow.set(msg.dev_id+'.launchid',launchid);\nflow.set(msg.dev_id+'.miner',miner);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":360,"wires":[[]]},{"id":"1c78d20d.a3cb3e","type":"delay","z":"d23693c0.8b7b","name":"Wait 2 hours","pauseType":"delay","timeout":"7200","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":460,"wires":[["97e03a07.823788"]]},{"id":"5a366da9.40f154","type":"eosio-push","z":"d23693c0.8b7b","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"","actionname":"websetlaunch","permission":"active","x":810,"y":420,"wires":[["8df8c72a.2569f8","1c78d20d.a3cb3e"]]},{"id":"8719b727.0fb4f8","type":"delay","z":"d23693c0.8b7b","name":"Wait 20 secs","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":500,"wires":[[]]},{"id":"5de970e.468961","type":"mqtt in","z":"d55d48b.95c32b8","d":true,"name":"TTN v2 Cybaart Kanda ","topic":"ascensionwx_weather_gps/devices/+/up","qos":"2","datatype":"json","broker":"8bb80ef0.d74e2","nl":false,"rap":false,"x":190,"y":180,"wires":[["e0f7eb90.fc1648"]]},{"id":"9309d919.ba79e8","type":"eosio-push","z":"1fe2e82b.689ca8","blockchain":"mainnet","endpoint":"https://telos.caleos.io","customendpoint":"","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascensionany","actionname":"settimeslots","x":750,"y":300,"wires":[[]]},{"id":"eb3499d7.f6fa","type":"comment","z":"1fe2e82b.689ca8","name":"any","info":"","x":890,"y":300,"wires":[]},{"id":"e0f7eb90.fc1648","type":"function","z":"d55d48b.95c32b8","name":"ascensiontest to ascensionany","func":"\nif (msg.payload.dev_id == 'ascensiontest')\n{\n    msg.payload.dev_id = 'ascensionany';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":220,"wires":[["6d0f7dfd.f3d1c4"]]},{"id":"cc2b7dc6.6d7af","type":"function","z":"d23693c0.8b7b","name":"Check if verified","func":"miner = flow.get(msg.dev_id+'.miner');\n\noutputs = [null, null];\n\nif ( miner !== undefined && miner !==null )\n{\n    outputs[0] = msg;\n}\nelse\n{\n    outputs[1] = msg;\n}\n\nreturn outputs;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":620,"wires":[["452d8e6.5f367f"],["ce940b44.f497b8"]]},{"id":"21ce3455.430a8c","type":"switch","z":"b52f63a.b42302","name":"Network Check","property":"network","propertyType":"msg","rules":[{"t":"eq","v":"TTNv2","vt":"str"},{"t":"eq","v":"TTNv3","vt":"str"},{"t":"eq","v":"Helium","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":360,"wires":[["1a5e512.821772f"],["e7b7cea6.25a37"],["c14a060d.bdd008"]]},{"id":"1a5e512.821772f","type":"function","z":"b52f63a.b42302","d":true,"name":"Format downlink TTNv2","func":"\nvar devid = msg.dev_id;\nvar downlink = msg.downlink;\n\nif (devid == 'ascensiontest')\n{\n    devid = 'ascensionany';\n}\n\nmsg.topic = `ascensionwx_weather_gps/devices/${devid}/down`;\n\nvar bytes = Buffer.from(downlink);\n\nmsg.payload = {\n  dev_id: devid,\n  port: 1,\n  confirmed: false,\n  schedule: 'replace',\n  payload_raw: Buffer.from(bytes).toString('base64')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["c9b0725f.43f17"]]},{"id":"c9b0725f.43f17","type":"mqtt out","z":"b52f63a.b42302","name":"Downlink TTN v2","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"13119360.3c6d45","x":490,"y":320,"wires":[]},{"id":"e6e8b87e.67a588","type":"change","z":"d23693c0.8b7b","name":"Verified for launch msg","rules":[{"t":"set","p":"downlink","pt":"msg","to":"1 Verified for launch.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":660,"wires":[["3d89060b.b3f9a2"]]},{"id":"758eef6c.53a738","type":"mqtt out","z":"b52f63a.b42302","name":"Downlink TTN v3","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d21c138c.36266","x":490,"y":440,"wires":[]},{"id":"6d0f7dfd.f3d1c4","type":"change","z":"d55d48b.95c32b8","name":"TTNv2 Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"TTNv2","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"payload.dev_id","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.dev_id","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.dev_id","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.app_id","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.counter","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.port","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.payload_fields","tot":"msg"},{"t":"set","p":"unix_time","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":260,"wires":[[]]},{"id":"b1e94746.65eae8","type":"debug","z":"d23693c0.8b7b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":920,"wires":[]},{"id":"3d89060b.b3f9a2","type":"subflow:b52f63a.b42302","z":"d23693c0.8b7b","name":"","env":[],"x":990,"y":700,"wires":[]},{"id":"1908fe54.cccc32","type":"delay","z":"d23693c0.8b7b","name":"Wait 6 hours","pauseType":"delay","timeout":"21600","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":760,"wires":[["911e0521.1ecc38"]]},{"id":"f52440c8.24dce8","type":"subflow:b52f63a.b42302","z":"d23693c0.8b7b","name":"","env":[],"x":731.4285888671875,"y":995.7142333984375,"wires":[]},{"id":"452d8e6.5f367f","type":"change","z":"d23693c0.8b7b","name":"Already verified msg","rules":[{"t":"set","p":"downlink","pt":"msg","to":"1 Already verified","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":540,"wires":[["68f5b334.f6691c"]]},{"id":"68f5b334.f6691c","type":"subflow:b52f63a.b42302","z":"d23693c0.8b7b","name":"","env":[],"x":610,"y":580,"wires":[]},{"id":"35e81157.fd1e16","type":"mqtt in","z":"d55d48b.95c32b8","name":"Helium","topic":"helium/+/rx","qos":"2","datatype":"json","broker":"2abcd20d.6b96a6","nl":false,"rap":false,"x":190,"y":380,"wires":[["406189b5.a87a28"]]},{"id":"406189b5.a87a28","type":"function","z":"d55d48b.95c32b8","name":"Check if radiosonde msg","func":"\n\nif (msg.payload.metadata.labels[0].name == 'kanda-weather-radiosondes')\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":420,"wires":[["df325dab.552398"]]},{"id":"df325dab.552398","type":"change","z":"d55d48b.95c32b8","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"Helium","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"$floor(payload.reported_at/1000)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.metadata.labels[0].name","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.fcnt","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.port","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.decoded.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":460,"wires":[[]]},{"id":"c14a060d.bdd008","type":"function","z":"b52f63a.b42302","name":"Format downlink Helium","func":"\nvar devid = msg.dev_id;\nvar downlink = msg.downlink;\n\nmsg.topic = `helium/${devid}/tx`;\n\nvar bytes = Buffer.from(downlink);\n\nmsg.payload = {\n  dev_id: devid,\n  port: 1,\n  confirmed: false,\n  schedule: 'replace',\n  payload_raw: Buffer.from(bytes).toString('base64')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":500,"wires":[["9c2878df.c70f48"]]},{"id":"9c2878df.c70f48","type":"mqtt out","z":"b52f63a.b42302","name":"Downlink Helium","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4fa41e23.d5886","x":510,"y":540,"wires":[]},{"id":"c3351a5b.5ce568","type":"change","z":"d23693c0.8b7b","name":"Blockchain error message","rules":[{"t":"set","p":"downlink","pt":"msg","to":"\"0 \" & error.message","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":960,"wires":[["f52440c8.24dce8"]]},{"id":"fecee721.671eb8","type":"mqtt in","z":"4464ce88.883078","name":"Helium dClimate","topic":"helium/dclimateiot/1dea9ac8-822e-4867-b0b8-0d9758e3eaeb/rx","qos":"0","datatype":"json","broker":"8bdb1012.cb9ab","nl":false,"rap":false,"x":150,"y":440,"wires":[["57aa753c.8f8a54"]]},{"id":"57aa753c.8f8a54","type":"change","z":"4464ce88.883078","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"Helium","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"payload.reported_at/1000","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.metadata.labels[0].name","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.fcnt","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.port","tot":"msg"},{"t":"set","p":"hotspots","pt":"msg","to":"payload.hotspots","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.decoded.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":480,"wires":[["a546ce36.47e81"]]},{"id":"a546ce36.47e81","type":"switch","z":"4464ce88.883078","name":"Port check","property":"port","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":720,"wires":[["bd1d92a.71614f"],["8c4a200e.00711","63e39150.438ab8"]]},{"id":"46b26a33.e82f14","type":"comment","z":"4464ce88.883078","name":"Helium MQTT Security warning","info":"\nAs of December 1, 2021 Helium does not offer username/password security on their app page, leaving the MQTT connection to be unsecure.\n  \nMy temporary security solution by simply adding the MQTT node ID provided by Helium to the topic.\n\nIdeally, a bad actor will not have access the Helium console to get this ID number... otherwise we would probably have bigger troubles to begin with.\n  ","x":180,"y":400,"wires":[]},{"id":"f993fe7.c5115","type":"catch","z":"4464ce88.883078","name":"If Webset Error","scope":["4405cecb.9bd1e"],"uncaught":false,"x":120,"y":880,"wires":[["a6940000.8d8e28","e27d8f2a.360c48"]]},{"id":"a6940000.8d8e28","type":"debug","z":"4464ce88.883078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":860,"wires":[]},{"id":"e27d8f2a.360c48","type":"change","z":"4464ce88.883078","name":"Blockchain error message","rules":[{"t":"set","p":"downlink","pt":"msg","to":"\"10\" & error.message","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":940,"wires":[["59e1a659.aa32b"]]},{"id":"26b75d90.81966a","type":"mqtt in","z":"4464ce88.883078","name":"TTN v3 dClimate","topic":"v3/dclimateiot3@ttn/devices/+/up","qos":"0","datatype":"json","broker":"be6de80a.01f388","nl":false,"rap":true,"rh":0,"x":110,"y":740,"wires":[["2d3a3a8d.2d0b1e"]]},{"id":"2d3a3a8d.2d0b1e","type":"change","z":"4464ce88.883078","name":"TTNv3 Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"TTNv3","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.end_device_ids.application_ids.application_id","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.uplink_message.f_port","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload","tot":"msg"},{"t":"set","p":"unix_time","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"},{"t":"set","p":"payload.dev_name","pt":"msg","to":"dev_id","tot":"msg"},{"t":"set","p":"payload.unix_time_s","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":780,"wires":[["a546ce36.47e81"]]},{"id":"16c60d15.a0ae9b","type":"mqtt in","z":"9de173ec.1a5b58","name":"Helium","topic":"helium/+/rx","qos":"2","datatype":"json","broker":"8bdb1012.cb9ab","nl":false,"rap":false,"x":150,"y":240,"wires":[["72a3e9ba.78b91"]]},{"id":"72a3e9ba.78b91","type":"function","z":"9de173ec.1a5b58","name":"Check if radiosonde msg","func":"\n\nif (msg.payload.metadata.labels[0].name == 'kanda-weather-radiosondes')\n{\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":280,"wires":[["c8660f7c.d603f","66fb175a.51b9f8"]]},{"id":"c8660f7c.d603f","type":"change","z":"9de173ec.1a5b58","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"Helium","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"payload.reported_at/1000","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.metadata.labels[0].name","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.fcnt","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.port","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.decoded.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[["b91513b9.e64258"]]},{"id":"66fb175a.51b9f8","type":"function","z":"9de173ec.1a5b58","name":"Geolocation JSON format","func":"\n\nhotspots = msg.payload.hotspots;\nelevation = msg.payload.decoded.payload.elevation_2;\n\nif (elevation > 15000)\n{\n    elevation = 0;\n}\n\n// Create gateways object\ngateways = [];\nframes = [];\nfor ( var ind=0; ind<hotspots.length; ind++ )\n{\n    hotspot = hotspots[ind];\n    \n    // Use only decent quality RSSIs\n    if (hotspot.rssi < -120)\n    {\n        continue;\n    }\n    \n    gateway = {\n        \"gatewayId\":hotspot.id,\n        \"latitude\":hotspot.lat,\n        \"longitude\":hotspot.long,\n        \"altitude\":elevation\n    };\n    gateways.push(gateway);\n    \n    frame = [ hotspot.id , \n            null, \n            hotspot.reported_at % 1637020000000,\n            hotspot.rssi,\n            hotspot.snr];\n            \n    frames.push(frame);\n    \n}\n\nmsg.payload = {\n    \"gateways\":gateways, \n    \"frame\":frames,\n    \"params\":{\n        \"locAlgType\":\"RSSI_ALG\",\n        \"doRssiTdoaCombine\":false\n    }\n}\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"AQEAvxIJPYabDpFrAZ5Oz/tx05jgEoikKH/G8wBGD6LvtTe6N2H6\"\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[["52093a30.6b386c"]]},{"id":"52093a30.6b386c","type":"http request","z":"9de173ec.1a5b58","name":"LoRa Cloud solver Request","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://gls.loracloud.com/api/v3/solve/singleframe","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":380,"wires":[["bf5e5883.4909d8"]]},{"id":"b91513b9.e64258","type":"join","z":"9de173ec.1a5b58","name":"Wait for Geo solver and Combine","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3600","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":300,"wires":[["22c1ed50.91db7a"]]},{"id":"bf5e5883.4909d8","type":"function","z":"9de173ec.1a5b58","name":"Get only lat/lon","func":"\nlatitude = msg.payload.result.locationEst.latitude;\nlongitude = msg.payload.result.locationEst.longitude;\ntolerance = msg.payload.result.locationEst.toleranceHoriz;\nhdop = msg.payload.result.HDOP;\n\nmsg = {};\n\nmsg.payload = {\n    \"latitude_geo\":latitude,\n    \"longitude_geo\":longitude,\n    \"toleranceHoriz_geo\":tolerance,\n    \"hdop_geo\":hdop\n}\n\n// Useful for joining function\nmsg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":420,"wires":[["b91513b9.e64258"]]},{"id":"22c1ed50.91db7a","type":"function","z":"9de173ec.1a5b58","name":"Use geo if no GPS","func":"\nlatitude = msg.payload.latitude_deg;\nlongitude = msg.payload.longitude_deg;\n\nhdop_geo = msg.payload.hdop_geo;\n\nif (latitude==0 && longitude==0)\n{\n    if(hdop_geo < 2)\n    {\n        msg.payload.latitude_deg = msg.payload.latitude_geo;\n        msg.payload.longitude_deg = msg.payload.longitude_geo;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":340,"wires":[[]]},{"id":"2187885f.66e2a","type":"switch","z":"ebdbdab4.05b098","name":"Network Check","property":"network","propertyType":"msg","rules":[{"t":"eq","v":"TTNv2","vt":"str"},{"t":"eq","v":"TTNv3","vt":"str"},{"t":"eq","v":"Helium","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":320,"wires":[[],["c8e2d48.cfefa28"],["56df1566.b53414"]]},{"id":"42adcd1b.7a217c","type":"mqtt out","z":"ebdbdab4.05b098","name":"Downlink TTN v3","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"be6de80a.01f388","x":650,"y":320,"wires":[]},{"id":"c8e2d48.cfefa28","type":"function","z":"ebdbdab4.05b098","name":"Format downlink TTNv3","func":"\nvar devid = msg.dev_id;\nvar downlink = msg.downlink;\n\nmsg.topic = `v3/dclimateiot3@ttn/devices/${devid}/down/replace`\n\nvar bytes = Buffer.from(downlink);\n\nmsg.payload = {\n  downlinks: [{\n      f_port:1,\n      frm_payload: Buffer.from(bytes).toString('base64'),\n      priority: \"HIGH\"\n  }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["42adcd1b.7a217c","386019dd.dedfc6"]]},{"id":"56df1566.b53414","type":"function","z":"ebdbdab4.05b098","name":"Format downlink Helium","func":"\nvar devid = msg.dev_id;\nvar downlink = msg.downlink;\n\nmsg.topic = `helium/dclimateiot/1dea9ac8-822e-4867-b0b8-0d9758e3eaeb/${devid}/tx`;\n\nvar bytes = Buffer.from(downlink);\n\nmsg.payload = {\n  dev_id: devid,\n  port: 1,\n  confirmed: false,\n  schedule: 'replace',\n  payload_raw: Buffer.from(bytes).toString('base64')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":380,"wires":[["2d57ee26.a5f5c2"]]},{"id":"2d57ee26.a5f5c2","type":"mqtt out","z":"ebdbdab4.05b098","name":"Downlink Helium","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bdb1012.cb9ab","x":670,"y":420,"wires":[]},{"id":"59e1a659.aa32b","type":"subflow:ebdbdab4.05b098","z":"4464ce88.883078","name":"","x":480,"y":980,"wires":[]},{"id":"3ab373d8.16ee7c","type":"mqtt in","z":"d55d48b.95c32b8","name":"TTN v3 Radiosondes","topic":"v3/kanda-weather-radiosondes-v-0-3-4@ttn/devices/+/up","qos":"2","datatype":"json","broker":"d21c138c.36266","nl":false,"rap":true,"rh":0,"x":240,"y":60,"wires":[["35294fbf.f8c54"]]},{"id":"35294fbf.f8c54","type":"change","z":"d55d48b.95c32b8","name":"TTNv3 Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"TTNv3","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.end_device_ids.application_ids.application_id","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.uplink_message.f_port","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload","tot":"msg"},{"t":"set","p":"unix_time","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[[]]},{"id":"e7b7cea6.25a37","type":"function","z":"b52f63a.b42302","name":"Format downlink TTNv3","func":"\nvar devid = msg.dev_id;\nvar downlink = msg.downlink;\n\nmsg.topic = `v3/kanda-weather-radiosondes@ttn/devices/${devid}/down/replace`\n\nvar bytes = Buffer.from(downlink);\n\nmsg.payload = {\n  downlinks: [{\n      f_port:1,\n      frm_payload: Buffer.from(bytes).toString('base64'),\n      priority: \"HIGH\"\n  }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":400,"wires":[["758eef6c.53a738"]]},{"id":"39fa46c4.e3ff62","type":"inject","z":"ebbe2b7a.a97ce","name":"TaPOS 1 hour","props":[{"p":"payload"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":300,"y":340,"wires":[["1a0c9f5b.f06661"]]},{"id":"48c177e5.274a6","type":"split","z":"ebbe2b7a.a97ce","d":true,"name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":180,"wires":[["7bcf5ace.201764"]]},{"id":"ec8c0636.26568","type":"http request","z":"ebbe2b7a.a97ce","d":true,"name":"Get Helium Devices","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://console.helium.com/api/v1/devices","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":100,"wires":[["3a804593.095852"]]},{"id":"97fa3801.78dde","type":"change","z":"ebbe2b7a.a97ce","d":true,"name":"HTTP headers - Helium","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers.key","pt":"msg","to":"bJ9azf/GvKmmQOUQdveRxHeuzQBt4oWFvlWber/XyV8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":60,"wires":[["ec8c0636.26568"]]},{"id":"3a804593.095852","type":"function","z":"ebbe2b7a.a97ce","d":true,"name":"dclimatiot devices","func":"\ndev_list = {};\n\n\nfor (const dev of msg.payload)\n{\n    name = dev.name;\n    \n    last_connect = new Date(dev.last_connected);\n    now = new Date(Date.now());\n    \n    millis_in_day = 1000*60*60*24;\n    millis_in_month = millis_in_day*30;\n    \n    \n    // Skip if hasn't been online in three months\n    if ( (now - last_connect) > 3*millis_in_month )\n    {\n        //continue; // Un comment if ever need to use.\n    }\n    \n    for (const lab of dev.labels)\n    {\n        if (lab.name === 'dclimateiot')\n        {\n            dev_list[name] = name;\n            break; // breaks out of inner loop\n        }\n    }\n}\n\nmsg.payload = {};\nmsg.payload = dev_list;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":140,"wires":[["48c177e5.274a6"]]},{"id":"7bcf5ace.201764","type":"function","z":"ebbe2b7a.a97ce","d":true,"name":"Reorg","func":"\ndownlink = msg.downlink;\ndevid = msg.payload;\n\nmsg = {};\n\nmsg.network = \"Helium\";\nmsg.downlink = downlink;\nmsg.dev_id = devid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":180,"wires":[["24c4c2f3.471226"]]},{"id":"99c7bd94.fe64a","type":"comment","z":"ebbe2b7a.a97ce","name":"Split Helium messages","info":"","x":710,"y":20,"wires":[]},{"id":"24c4c2f3.471226","type":"delay","z":"ebbe2b7a.a97ce","d":true,"name":"Rate limit mqtt","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":220,"wires":[[]]},{"id":"8c4a200e.00711","type":"function","z":"4464ce88.883078","d":true,"name":"Geolocation JSON format","func":"\n// Store coordinates for later\nmsg.latitude = msg.payload.latitude_deg;\nmsg.longitude = msg.payload.longitude_deg;\nmsg.elevation = msg.payload.gps_elevation_m;\nmsg.unix_time = msg.payload.unix_time_s;\n\nhotspots = msg.hotspots;\n\n// Create gateways object\ngateways = [];\nframes = [];\nfor ( var ind=0; ind<hotspots.length; ind++ )\n{\n    hotspot = hotspots[ind];\n    \n    gateway = {\n        \"gatewayId\":hotspot.id,\n        \"latitude\":hotspot.lat,\n        \"longitude\":hotspot.long,\n        \"altitude\":0\n    };\n    gateways.push(gateway);\n    \n    frame = [ hotspot.id , \n            null, \n            null, // Currently Helium hotspots return ms not us for TDOA\n            hotspot.rssi,\n            hotspot.snr];\n            \n    frames.push(frame);\n    \n}\n\nmsg.payload = {\n    \"gateways\":gateways, \n    \"frame\":frames,\n    \"params\":{\n        \"locAlgType\":\"RSSI_ALG\",\n        \"doRssiTdoaCombine\":false\n    }\n}\n\nmsg.headers = {\n    \"content-type\":\"application/json\",\n    \"Ocp-Apim-Subscription-Key\":\"AQEAvxIJPYabDpFrAZ5Oz/tx05jgEoikKH/G8wBGD6LvtTe6N2H6\"\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":780,"wires":[["21b72282.03648e"]]},{"id":"21b72282.03648e","type":"http request","z":"4464ce88.883078","d":true,"name":"LoRa Cloud solver Request","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://gls.loracloud.com/api/v3/solve/singleframe","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":800,"wires":[["2010ccb4.7484c4"]]},{"id":"9c8b1d87.41a2e8","type":"function","z":"4464ce88.883078","name":"Format submitgps Action","func":"\nmsg.payload = {\n    \"lat_deg_geo\":msg.latitude_lorawan,\n    \"lon_deg_geo\":msg.longitude_lorawan,\n    \"latitude_deg\": parseFloat(msg.latitude.toFixed(2)),\n    \"longitude_deg\": parseFloat(msg.longitude.toFixed(2)),\n    \"elev_gps_m\": msg.elevation,\n    \"devname\": msg.dev_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":900,"wires":[["53a34008.fc8e9"]]},{"id":"bd1d92a.71614f","type":"function","z":"4464ce88.883078","name":"Flags to Integer","func":"\nflag_total = 0;\n\nflags = msg.payload.flags;\n\nif (typeof(flags)==='object')\n{\n    // Convert last 4 flags to integer\n    if (flags.bit_16) flag_total += 16;\n    if (flags.bit_32) flag_total += 32;\n    if (flags.bit_64) flag_total += 64;\n    if (flags.bit_128) flag_total += 128;\n    \n    msg.payload.device_flags = flag_total;\n}\nelse\n{\n    msg.payload.device_flags = 0; // deprecated\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":600,"wires":[["9b84cb78.5f6ef"]]},{"id":"33d8ee69.970072","type":"mqtt in","z":"4464ce88.883078","name":"TTN v3 dclimateiot-tprh-0-3-0","topic":"v3/dclimateiot-tprh-0-3-0@ttn/devices/+/up","qos":"0","datatype":"json","broker":"42e0fe3a.0c3b08","nl":false,"rap":true,"rh":0,"x":130,"y":660,"wires":[["b4dda048.d10908"]]},{"id":"b4dda048.d10908","type":"change","z":"4464ce88.883078","name":"TTNv3 Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"TTNv3","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.end_device_ids.device_id","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.end_device_ids.application_ids.application_id","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.uplink_message.f_port","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.uplink_message.decoded_payload","tot":"msg"},{"t":"set","p":"payload.dev_name","pt":"msg","to":"dev_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":700,"wires":[["a546ce36.47e81"]]},{"id":"32f5d066.235818","type":"subflow:d55d48b.95c32b8","z":"d23693c0.8b7b","name":"","env":[],"x":140,"y":400,"wires":[["8cd8a9b6.058668"]]},{"id":"386019dd.dedfc6","type":"debug","z":"ebdbdab4.05b098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":140,"wires":[]},{"id":"9b84cb78.5f6ef","type":"function","z":"4464ce88.883078","name":"Add authorization","func":"\n\nmsg.payload.devname = msg.dev_id;\nmsg.authorization = { 'actor': msg.dev_id, 'permission':'active'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":640,"wires":[["3017e883.998828"]]},{"id":"c8c5ee8c.159f08","type":"mqtt in","z":"ebbe2b7a.a97ce","name":"Meas Earth Listen Startup","topic":"helium/me/13fa3015-7508-43e1-9f9d-d38d3b0c959a/rx","qos":"0","datatype":"json","broker":"8bdb1012.cb9ab","nl":false,"rap":false,"x":260,"y":380,"wires":[["7d8dc129.aa64c"]]},{"id":"b7529c71.cadfb","type":"http request","z":"8ffb8f47.dd7308","name":"Chain Get Info","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:8887/v1/chain/get_info","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":220,"wires":[["8c9d3dfe.5efb58"]]},{"id":"ba333bf9.0066a","type":"function","z":"8ffb8f47.dd7308","name":"Set TaPoS Bytes","func":"\nref_block_num = msg.payload.block_num;\nref_block_prefix = msg.payload.ref_block_prefix;\n\ndev_id = msg.dev_id;\n\n// Clear out message\nmsg = {};\n\n// Convert reference block number to uint16\nbytes = new Uint8Array(10);\n\n// First 4 bytes as unix time\ntime = Math.floor(Date.now()/1000);\nfor (i = 0; i < 4; i++)\n{\n    bytes[i] = (time >> (i*8)) & 0xff;\n}\n\n// Block number to uint16\nfor (i = 0; i < 2; i++)\n{\n    bytes[i+4] = (ref_block_num >> (i*8)) & 0xff;\n}\nfor (i = 0; i < 4; i++)\n{\n    bytes[i+6] = (ref_block_prefix >> (i*8)) & 0xff;\n}\n\nmsg.downlink = bytes;\nmsg.dev_id = dev_id;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":340,"wires":[[]]},{"id":"49cdb84a.c477f","type":"http request","z":"8ffb8f47.dd7308","name":"Get block prefix","method":"POST","ret":"obj","paytoqs":"ignore","url":"localhost:8887/v1/chain/get_block","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":300,"wires":[["ba333bf9.0066a"]]},{"id":"8c9d3dfe.5efb58","type":"change","z":"8ffb8f47.dd7308","name":"HTTP headers - eosio","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"payload.block_num_or_id","pt":"msg","to":"payload.last_irreversible_block_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":260,"wires":[["49cdb84a.c477f"]]},{"id":"550f31f8.a213a8","type":"comment","z":"8ffb8f47.dd7308","name":"Get TaPOS","info":"","x":310,"y":140,"wires":[]},{"id":"1a0c9f5b.f06661","type":"subflow:8ffb8f47.dd7308","z":"ebbe2b7a.a97ce","name":"","env":[],"x":560,"y":340,"wires":[["97fa3801.78dde","c9e848e1.b2c91"]]},{"id":"c9e848e1.b2c91","type":"function","z":"ebbe2b7a.a97ce","name":"Format downlink Helium","func":"\nvar devid = msg.dev_id;\nvar downlink = msg.downlink;\n\nmsg.topic = `helium/me/13fa3015-7508-43e1-9f9d-d38d3b0c959a/tx`;\n\n//var bytes = Buffer.from(downlink);\n\nmsg.payload = {\n  port: 10,\n  confirmed: false,\n  //payload_raw: bytes\n  payload_raw: Buffer.from(downlink).toString('base64')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":380,"wires":[["d35d81c3.8d59a","5e2a871d.7a2bf8"]]},{"id":"5059df2a.4dafb","type":"mqtt out","z":"ebbe2b7a.a97ce","name":"Downlink Helium","topic":"","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bdb1012.cb9ab","x":930,"y":480,"wires":[]},{"id":"9a7dea73.cac17","type":"function","z":"ebbe2b7a.a97ce","name":"Simplify payload","func":"\nmsg.dev_id = msg.payload.name;\n\n\ntrx = msg.payload.decoded.payload.packed_trx;\nsigs = [msg.payload.decoded.payload.signature];\n    \nmsg.payload = {};\n    \nmsg.payload.packed_trx = trx;\nmsg.payload.signatures = sigs;\n    \nmsg.payload.compression = 'none';\n    \nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":520,"wires":[["af39c717.77f438"]]},{"id":"6058244b.c5ce04","type":"mqtt out","z":"ebbe2b7a.a97ce","name":"Clear Helium downlink queue","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bdb1012.cb9ab","x":980,"y":360,"wires":[]},{"id":"d35d81c3.8d59a","type":"delay","z":"ebbe2b7a.a97ce","name":"Wait MQTT clear 0.5 sec","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":440,"wires":[["5059df2a.4dafb"]]},{"id":"5e2a871d.7a2bf8","type":"function","z":"ebbe2b7a.a97ce","name":"Set payload raw","func":"\ndownlink = \"__clear_downlink_queue__\";\nvar bytes = Buffer.from(downlink);\n\nmsg.payload.payload_raw = Buffer.from(bytes).toString('base64');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":320,"wires":[["6058244b.c5ce04"]]},{"id":"8816e387.8521e","type":"inject","z":"ebbe2b7a.a97ce","name":"Test injection","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"app_eui\":\"6081F94B4CDE105C\",\"dc\":{\"balance\":7096,\"nonce\":2},\"decoded\":{\"payload\":{\"chain_id\":\"telos_testnet\",\"packed_trx\":\"C86EB7620979D821E862000000000100B0511284B0AF330000006167278FC601808D92008510423000000000A8ED32324F808D92008510423018000F019860B76250544C42C951E4C2E803110000000000009D0900000000A9410090614426ECFE840338019FFF080003000400050005001600170017001700C902290080AB4100\",\"result\":\"SUCCESS\",\"signature\":\"SIG_K1_KfZ7yMrguyxyFFZ783ibFkx3GKrjyWSoaAR3yG18gv5ACek8XwdXPZZvHN45bvE8T2AfRpoEBtHW5nGPDmyybmuQTnGxuy\"},\"status\":\"success\"},\"dev_eui\":\"6081F99AB1CAB618\",\"devaddr\":\"83000048\",\"fcnt\":330,\"hotspots\":[{\"channel\":7,\"frequency\":905.2999877929688,\"hold_time\":471,\"id\":\"11pSHEjVB7rUxSunz6XqhJBjnMbDnp9SqJT2hPGRR2BF8pozdbu\",\"lat\":51.08016301893388,\"long\":-114.15461370663155,\"name\":\"prehistoric-tweed-terrier\",\"reported_at\":1656185029723,\"rssi\":-116,\"snr\":-0.20000000298023224,\"spreading\":\"SF7BW125\",\"status\":\"success\"}],\"id\":\"13fa3015-7508-43e1-9f9d-d38d3b0c959a\",\"metadata\":{\"adr_allowed\":false,\"cf_list_enabled\":false,\"multi_buy\":1,\"organization_id\":\"925cb4f5-a2c5-441b-b7d4-93e456fc168f\",\"preferred_hotspots\":[],\"rx_delay\":1,\"rx_delay_actual\":1,\"rx_delay_state\":\"rx_delay_established\"},\"name\":\"me-tsp-air-v2-a11111c\",\"payload\":\"ACBSmqBwdov2WUkDULEDwU9d0pnGfnm4rKBgoNUGfl0GQiWA3YOsha3o2vbalEhWT+/79RtekJD/pKZjyrkW4m9GyG63Ygl52CHoYgAAAAABALBREoSwrzMAAABhZyePxgGAjZIAhRBCMAAAAACo7TIyT4CNkgCFEEIwGAAPAZhgt2JQVExCyVHkwugDEQAAAAAAAJ0JAAAAAKlBAJBhRCbs/oQDOAGf/wgAAwAEAAUABQAWABcAFwAXAMkCKQCAq0EA\",\"payload_size\":195,\"port\":11,\"raw_packet\":\"QIMAAEgASgELO9hxP4XvMOVEDirSQm5/C+xKNE64sBWh4CInUywAK9xqZyfnjkQACih6kr49ldA4bZAn1teTtyetKUlVUORwWDq8wAk4YD5NZtc7b1TAqTetPpul6cKGXCFPIol5W1/qBNh3M3doq+//Yugt9Qi3SjOyNjnjM6VJ4I8uWNZEovSRIGSH0bFDRxnkS9d/423tz9vfSLcyS75bSzrsxp5Tp2ifnczgtwo0eNr8ZQLLZ0xhnBbTqCgGmq8ZlfaIgjhakPWFt5qzSg==\",\"replay\":false,\"reported_at\":1656185029723,\"type\":\"uplink\",\"uuid\":\"53c423c9-f672-4ed1-b2e4-d73fa306aa67\"}","payloadType":"json","x":300,"y":500,"wires":[["9a7dea73.cac17"]]},{"id":"695ed728.561e5","type":"http request","z":"ebbe2b7a.a97ce","name":"Push Testnet Trx","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:8887/v1/chain/send_transaction","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":600,"wires":[["fac944c4.0e9f2"]]},{"id":"7d8dc129.aa64c","type":"switch","z":"ebbe2b7a.a97ce","name":"Port check","property":"payload.port","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":420,"wires":[["1a0c9f5b.f06661"],["9a7dea73.cac17"]]},{"id":"af39c717.77f438","type":"delay","z":"ebbe2b7a.a97ce","name":"Expiration buffer wait","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":560,"wires":[["695ed728.561e5"]]},{"id":"fac944c4.0e9f2","type":"mqtt out","z":"ebbe2b7a.a97ce","name":"Publish RPC response","topic":"helium/me/13fa3015-7508-43e1-9f9d-d38d3b0c959a/rpc","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8bdb1012.cb9ab","x":870,"y":600,"wires":[]},{"id":"cfabdbf.728a9a8","type":"http request","z":"8ffb8f47.dd7308","name":"Basho chain get_info","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://basho-api.telosuk.io/v1/chain/get_info","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":480,"wires":[["52c3cf11.096c5"]]},{"id":"281b250b.8df9b2","type":"function","z":"8ffb8f47.dd7308","name":"Set TaPoS Bytes","func":"\nref_block_num = msg.payload.block_num;\nref_block_prefix = msg.payload.ref_block_prefix;\n\ndev_id = msg.dev_id;\n\n// Clear out message\nmsg = {};\n\n// Convert reference block number to uint16\nbytes = new Uint8Array(10);\n\n// First 4 bytes as unix time\ntime = Math.floor(Date.now()/1000);\nfor (i = 0; i < 4; i++)\n{\n    bytes[i] = (time >> (i*8)) & 0xff;\n}\n\n// Block number to uint16\nfor (i = 0; i < 2; i++)\n{\n    bytes[i+4] = (ref_block_num >> (i*8)) & 0xff;\n}\nfor (i = 0; i < 4; i++)\n{\n    bytes[i+6] = (ref_block_prefix >> (i*8)) & 0xff;\n}\n\nmsg.downlink = bytes;\nmsg.dev_id = dev_id;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":600,"wires":[[]]},{"id":"febe7694.92e4a","type":"http request","z":"8ffb8f47.dd7308","name":"Basho get block prefix","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://basho-api.telosuk.io/v1/chain/get_block","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":560,"wires":[["281b250b.8df9b2"]]},{"id":"52c3cf11.096c5","type":"change","z":"8ffb8f47.dd7308","name":"HTTP headers - eosio","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"payload.block_num_or_id","pt":"msg","to":"payload.last_irreversible_block_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":520,"wires":[["febe7694.92e4a"]]},{"id":"13dd8a2d.b223e6","type":"comment","z":"8ffb8f47.dd7308","name":"Use following in case nodeos goes down","info":"","x":330,"y":440,"wires":[]},{"id":"c0d03e8a.f16c1","type":"mqtt in","z":"4464ce88.883078","name":"Helium ascensionwx 0.4.0","topic":"helium/ascensionwxiot/bc7b2bf3-6ff2-4005-8352-4cad31de9b04/rx","qos":"0","datatype":"json","broker":"8bdb1012.cb9ab","nl":false,"rap":false,"x":140,"y":520,"wires":[["244df445.be5c64"]]},{"id":"244df445.be5c64","type":"change","z":"4464ce88.883078","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"Helium","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"payload.reported_at/1000","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.metadata.labels[0].name","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.fcnt","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.port","tot":"msg"},{"t":"set","p":"hotspots","pt":"msg","to":"payload.hotspots","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.decoded.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":560,"wires":[["a546ce36.47e81"]]},{"id":"53a34008.fc8e9","type":"eosio-push","z":"4464ce88.883078","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascendweathr","actionname":"submitgps","permission":"iot","x":910,"y":900,"wires":[[]]},{"id":"dd1d688.771e998","type":"change","z":"7da6af6.49d0cd","name":"HTTP headers - unix time","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"payload.code","pt":"msg","to":"ascendweathr","tot":"str"},{"t":"set","p":"payload.table","pt":"msg","to":"weather","tot":"str"},{"t":"set","p":"payload.scope","pt":"msg","to":"ascendweathr","tot":"str"},{"t":"set","p":"payload.key_type","pt":"msg","to":"i64","tot":"str"},{"t":"set","p":"payload.index_position","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"payload.json","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload.limit","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":180,"wires":[["38c52d7f.70dab2"]]},{"id":"38c52d7f.70dab2","type":"http request","z":"7da6af6.49d0cd","name":"Get table rows","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:8888/v1/chain/get_table_rows","tls":"","persist":false,"proxy":"","authType":"","x":240,"y":220,"wires":[["59b62e75.3c1398"]]},{"id":"6b46af99.3a0c38","type":"inject","z":"7da6af6.49d0cd","name":"Query recently-dead (3 hours to 7 days)","props":[{"p":"payload.lower_bound","v":"$floor($millis()/1000)-(3600*24*7)","vt":"jsonata"},{"p":"payload.upper_bound","v":"$floor($millis()/1000)-(3600*3)","vt":"jsonata"},{"p":"unix_time_s","v":"$floor($millis()/1000)","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":140,"wires":[["dd1d688.771e998"]]},{"id":"70571bd9.81182c","type":"debug","z":"7da6af6.49d0cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":340,"wires":[]},{"id":"59b62e75.3c1398","type":"function","z":"7da6af6.49d0cd","name":"","func":"\n\n\nlen = msg.payload.rows.length;\n\ndata = [];\n\nfor ( var i=0; i<len; i++ )\n{\n    data[i] = {};\n    data[i].devname = msg.payload.rows[i].devname;\n}\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":260,"wires":[["8da231b5.0e0298"]]},{"id":"bced0316.c73c38","type":"comment","z":"7da6af6.49d0cd","name":"Check names of recent dead sensors","info":"","x":160,"y":100,"wires":[]},{"id":"8da231b5.0e0298","type":"split","z":"7da6af6.49d0cd","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":180,"wires":[["cf1e5ba5.76d36"]]},{"id":"cf1e5ba5.76d36","type":"exec","z":"7da6af6.49d0cd","command":"tac /data/ascensionwx_0.4.0_testing.txt | grep -m1","addpay":"payload.devname","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Last datapoint in file","x":530,"y":220,"wires":[["e7deae93.0c4f08"],[],[]]},{"id":"e7deae93.0c4f08","type":"json","z":"7da6af6.49d0cd","name":"","property":"payload","action":"","pretty":false,"x":570,"y":260,"wires":[["75124a15.b9317c"]]},{"id":"75124a15.b9317c","type":"function","z":"7da6af6.49d0cd","name":"Add battery voltage","func":"\nsimple = {};\n\nsimple.devname = msg.payload.name;\nsimple.num_hours_since_died = (msg.unix_time_s - (msg.payload.reported_at/1000))/3600;\nsimple.battery_volage = msg.payload.decoded.payload.battery_millivolt;\n\n\nmsg.payload = simple;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":300,"wires":[["70571bd9.81182c"]]},{"id":"7a719aee.0bc3d4","type":"debug","z":"4464ce88.883078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":480,"wires":[]},{"id":"a6cb948d.fd189","type":"catch","z":"4464ce88.883078","name":"","scope":["53a34008.fc8e9","6f098178.26c158","3dcdce43.acfc82","a6a298.7ad80d68"],"uncaught":false,"x":500,"y":480,"wires":[["7a719aee.0bc3d4"]]},{"id":"63e39150.438ab8","type":"function","z":"4464ce88.883078","name":"Average hotspot lat/lon","func":"\n// Store coordinates for later\nmsg.latitude = msg.payload.latitude_deg;\nmsg.longitude = msg.payload.longitude_deg;\nmsg.elevation = msg.payload.gps_elevation_m;\nmsg.unix_time = msg.payload.unix_time_s;\n\nhotspots = msg.hotspots;\n\nlat_sum = 0;\nlon_sum = 0;\n\n// Loop over hotspots and get average lat/lon\nfor ( var ind=0; ind<hotspots.length; ind++ )\n{\n    lat_sum += hotspots[ind].lat;\n    lon_sum += hotspots[ind].long;\n}\n\n\nmsg.latitude_lorawan = lat_sum / hotspots.length;\nmsg.longitude_lorawan = lon_sum / hotspots.length;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":860,"wires":[["9c8b1d87.41a2e8"]]},{"id":"2010ccb4.7484c4","type":"function","z":"4464ce88.883078","d":true,"name":"Format submitgps Action","func":"\nlatitude_lorawan = msg.payload.result.locationEst.latitude;\nlongitude_lorawan = msg.payload.result.locationEst.longitude;\n\nmsg.payload = {\n    \"lat_deg_geo\":latitude_lorawan,\n    \"lon_deg_geo\":longitude_lorawan,\n    \"latitude_deg\": parseFloat(msg.latitude.toFixed(2)),\n    \"longitude_deg\": parseFloat(msg.longitude.toFixed(2)),\n    \"elev_gps_m\": msg.elevation,\n    \"devname\": msg.dev_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":820,"wires":[[]]},{"id":"3017e883.998828","type":"function","z":"4464ce88.883078","name":"Add battery","func":"\nif (!msg.payload.hasOwnProperty('battery_millivolt'))\n    msg.payload.battery_millivolt = '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":680,"wires":[["6f098178.26c158"]]},{"id":"40b913c1.3c1334","type":"subflow:55027602.a97d88","z":"4464ce88.883078","name":"","env":[],"x":340,"y":320,"wires":[["66a847ec.05d8b"]]},{"id":"66a847ec.05d8b","type":"function","z":"4464ce88.883078","name":"Add authorization and flags","func":"\n\nmsg.payload.devname = msg.dev_id;\nmsg.payload.device_flags = 0;\n\nmsg.authorization = { 'actor': msg.dev_id, 'permission':'active'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":320,"wires":[["ffea418e.6a6aa"]]},{"id":"ffea418e.6a6aa","type":"function","z":"4464ce88.883078","name":"Add rain,wind,solar","func":"if (!msg.payload.hasOwnProperty('pressure_hpa'))\n    msg.payload.pressure_hpa = '';\n    \nif (!msg.payload.hasOwnProperty('temperature_c'))\n    msg.payload.temperature_c = '';\n\nif (!msg.payload.hasOwnProperty('humidity_percent'))\n    msg.payload.humidity_percent = '';\n\nif (!msg.payload.hasOwnProperty('wind_dir_deg'))\n    msg.payload.wind_dir_deg = '';\n    \nif (!msg.payload.hasOwnProperty('wind_spd_ms'))\n    msg.payload.wind_spd_ms = '';\n    \nif (!msg.payload.hasOwnProperty('rain_1hr_mm'))\n    msg.payload.rain_1hr_mm = '';\n\nif (!msg.payload.hasOwnProperty('light_intensity_lux'))\n    msg.payload.light_intensity_lux = '';\n\nif (!msg.payload.hasOwnProperty('uv_index'))\n    msg.payload.uv_index = '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":360,"wires":[["e19b13aa.397778"]]},{"id":"6f098178.26c158","type":"eosio-push","z":"4464ce88.883078","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascendweathr","actionname":"pushdata3dp","permission":"","x":890,"y":680,"wires":[[]]},{"id":"156b3c0a.f5ff5c","type":"file in","z":"4464ce88.883078","name":"Read WeatherBit Stations","filename":"/data/ascensionwx_apps/weatherbit_station/WEATHERBIT_STATIONS.txt","format":"lines","chunk":false,"sendError":false,"encoding":"utf8","x":240,"y":120,"wires":[["aa252248.412488"]]},{"id":"aa252248.412488","type":"delay","z":"4464ce88.883078","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":100,"wires":[["80eff33d.192248"]]},{"id":"35493fab.91e958","type":"inject","z":"4464ce88.883078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1830","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":80,"wires":[[]]},{"id":"5c3ca63b.15f9c8","type":"http request","z":"4464ce88.883078","name":"Weatherbit API call","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weatherbit.io/v2.0/current?station={{{query}}}&key=3f7d06ce0251420d816a9f400d678852","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":120,"wires":[["a40e0225.a26a48"]]},{"id":"80eff33d.192248","type":"function","z":"4464ce88.883078","name":"Set query","func":"\n//msg.payload = 'station=' + msg.payload\n\n//msg.query = { 'station' : msg.payload }\nmsg.query = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":80,"wires":[["5c3ca63b.15f9c8"]]},{"id":"a40e0225.a26a48","type":"function","z":"4464ce88.883078","name":"30-minute check","func":"\n\n\nlet now = Math.floor(Date.now() / 1000);\nlet new_payload = {};\n\nif ( msg.payload.data === undefined )\n    return;\n\nlet data = msg.payload.data[0]\n\nmsg = {}\n\nlet obs_time = data.ts\nif ( obs_time > now - (60*30) ) \n{\n    new_payload.station_str = data.station\n    new_payload.latitude_city = data.lat\n    new_payload.longitude_city = data.lon\n    new_payload.temperature_c = data.temp\n    new_payload.unix_time_s = obs_time\n    \n    msg.payload = new_payload;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":160,"wires":[["62b7b494.fbc754"]]},{"id":"12cdf246.b3c7ce","type":"http request","z":"4464ce88.883078","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weather.com/v2/pws/observations/current?stationId=IIAI67&units=m&numericPrecision=decimal&format=json&apiKey=35a2584f4e154928a2584f4e1549280c","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":20,"wires":[["58567819.e04fa8"]]},{"id":"58567819.e04fa8","type":"function","z":"4464ce88.883078","name":"Parse response","func":"\nlet new_payload = {};\n\nlet obs = msg.payload.observations[0]\n\ndevname = \"blunderfrog1\"\n\nnew_payload.devname = devname\nnew_payload.pressure_hpa = obs.metric.pressure\nnew_payload.humidity_percent = obs.humidity\nnew_payload.temperature_c = obs.metric.temp\nnew_payload.wind_dir_deg = obs.winddir\nnew_payload.wind_spd_ms = obs.metric.windSpeed\nnew_payload.rain_1hr_mm = obs.metric.precipRate\nnew_payload.light_intensity_lux = ''\nnew_payload.uv_index = ''\n\nmsg.authorization = { 'actor': devname, 'permission':'active'};\n\n\nmsg.payload = new_payload\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":20,"wires":[["9c5b736f.af398"]]},{"id":"9c5b736f.af398","type":"eosio-push","z":"4464ce88.883078","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascendweathr","actionname":"pushdatafull","permission":"","x":710,"y":20,"wires":[[]]},{"id":"3e163a0b.2b2ae6","type":"eosio-push","z":"4464ce88.883078","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascendweathr","actionname":"pushdatanoaa","permission":"","x":930,"y":160,"wires":[[]]},{"id":"62b7b494.fbc754","type":"join","z":"4464ce88.883078","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"20","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":120,"wires":[["3e163a0b.2b2ae6"]]},{"id":"347c8e4b.68fbda","type":"inject","z":"4464ce88.883078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":20,"wires":[[]]},{"id":"101a1eea.9231f9","type":"function","z":"4464ce88.883078","name":"Add authorization and flags","func":"\n\nmsg.payload.device_flags = 0;\nmsg.authorization = { 'actor': msg.payload.devname, 'permission':'active'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":240,"wires":[["a6a298.7ad80d68"]]},{"id":"a6a298.7ad80d68","type":"eosio-push","z":"4464ce88.883078","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascendweathr","actionname":"pushdatatrh","permission":"","x":930,"y":240,"wires":[[]]},{"id":"18cbfc8d.3d2cab","type":"inject","z":"7da6af6.49d0cd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"title\":\"AscensionWx Climate DeFi\",\"description\":\"\",\"content\":{},\"proposal_name\":\"climatedefi\",\"proposer\":\"ascensionwxx\",\"category\":\"apps\",\"total_requested\":\"114000.0000 TLOS\",\"milestones\":3}","payloadType":"json","x":170,"y":600,"wires":[["7bd8685f.41c6d"]]},{"id":"e1011486.92156","type":"comment","z":"7da6af6.49d0cd","name":"Telos Works submit","info":"","x":210,"y":540,"wires":[]},{"id":"7bd8685f.41c6d","type":"function","z":"7da6af6.49d0cd","name":"","func":"\n\ncontent = {};\n\ncontent.imageUrls = [null];\n\ncontent.milestonesData = [];\ndescription = \"Actively recruiting new weather station operators from Helium and other blockchain communities to get an additional 20 stations\";\ncontent.milestonesData.push({\n    \"amount\" : 38000.0000,\n    \"displayText\" : \"Weather station network growth\",\n    \"description\" : description\n})\ndescription = \"Bring Nairobi climate data on-chain; Initial climate insurance smart contract written.\";\ncontent.milestonesData.push({\n    \"amount\" : 38000.0000,\n    \"displayText\" : \"Climate DeFi contracts written\",\n    \"description\" : description\n})\ndescription = \"Smart contract tested from real-time sensors with Wecol\";\ncontent.milestonesData.push({\n    \"amount\" : 38000.0000,\n    \"displayText\" : \"Insurance test case in Nairobi\",\n    \"description\" : description\n})\n\ncontent.contentUrls = [\"https://api.dstor.cloud/ipfs/ODExMWY4MDQtMTk5Zi00MmZiLTliYTktZTkyNDQ4NTBmODZkLzU3NTdjYzRmLTVkODItNGQyMC05OGFhLTA3Y2Y4MmJlNmI0Zg\"];\n\nmsg.payload.description = \"Over the past 6 months, we've built and connected over 100 global weather stations to Telos, where data is quality controlled in smart contracts and stored on-chain. Most station owners are members of other blockchain communities, including Helium and Polygon and have expressed a lot of interest in Telos. We seek funding to support this network and build prototype climate DeFi contracts with the weather data weve been collecting.\"\n\nmsg.payload.content = JSON.stringify(content);\nmsg.authorization = { 'actor': 'ascensionwxx', 'permission':'active'};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":600,"wires":[["c4ebefc6.8c5a2","6c477c5d.756dcc"]]},{"id":"6c477c5d.756dcc","type":"eosio-push","z":"7da6af6.49d0cd","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"works.decide","actionname":"draftprop","permission":"","x":510,"y":600,"wires":[[]]},{"id":"c4ebefc6.8c5a2","type":"debug","z":"7da6af6.49d0cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":560,"wires":[]},{"id":"5f863196.52a8d","type":"mqtt in","z":"55027602.a97d88","name":"Helium Sensecap Big 8-in-1","topic":"helium/sensecap-big-lorawan/4ee34b88-25e8-41d6-a873-509798bbd9fb/rx","qos":"0","datatype":"json","broker":"8bdb1012.cb9ab","nl":false,"rap":false,"x":210,"y":280,"wires":[["70cac717.9ea1f8"]]},{"id":"de54ee63.b18fe","type":"change","z":"55027602.a97d88","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"Helium","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"payload.reported_at/1000","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.metadata.labels[0].name","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.fcnt","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.decoded.payload.derived_port","tot":"msg"},{"t":"set","p":"hotspots","pt":"msg","to":"payload.hotspots","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.decoded.payload","tot":"msg"},{"t":"set","p":"payload.devname","pt":"msg","to":"dev_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":320,"wires":[[]]},{"id":"70cac717.9ea1f8","type":"switch","z":"55027602.a97d88","name":"Check if undefined","property":"payload.decoded.payload","propertyType":"msg","rules":[{"t":"neq","v":"undefined","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":280,"wires":[["de54ee63.b18fe"]]},{"id":"2de0bfdc.c1e478","type":"subflow:faed66c1.4eb0a","z":"4464ce88.883078","name":"","env":[],"x":360,"y":240,"wires":[["101a1eea.9231f9"]]},{"id":"ed5dcd78.a3e8a","type":"inject","z":"4464ce88.883078","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1200,"wires":[[]]},{"id":"51f0cf91.2c03c","type":"join","z":"faed66c1.4eb0a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"16","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":550,"y":160,"wires":[["8c12845b.57d928"]]},{"id":"f2fc507a.d83a08","type":"function","z":"faed66c1.4eb0a","name":"Assign t, rh, or both","func":"\nconst devname = msg.payload.devname;\n\nif (msg.payload.decoded.payload.length > 1) {\n    const t = msg.payload.decoded.payload[0].value;\n    const rh = msg.payload.decoded.payload[1].value;\n    \n    msg = {}\n    msg.payload = {}\n    msg.payload.devname = devname;\n    msg.payload.temperature_c = t;\n    msg.payload.humidity_percent = rh;\n    return [null, msg];\n}\n\nif (msg.payload.decoded.payload[0].field === 'TEMPERATURE') {\n    const t = msg.payload.decoded.payload[0].value;\n    \n    msg = {}\n    msg.payload = {}\n    msg.payload.devname = devname;\n    msg.payload.temperature_c = t;\n    return [msg, null]\n}\nelse if (msg.payload.decoded.payload[0].field === 'HUMIDITY') {\n    const rh = msg.payload.decoded.payload[0].value;\n    \n    msg = {}\n    msg.complete = true;\n    msg.payload = {}\n    msg.payload.devname = devname;\n    msg.payload.humidity_percent = rh;\n    return [msg, null]\n}\n    \n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":220,"wires":[["51f0cf91.2c03c"],[]]},{"id":"b61e6975.cf1a8","type":"mqtt in","z":"faed66c1.4eb0a","name":"Helium T-RH S2101","topic":"helium/sensecap-s210x/89b05e3b-137b-4636-81e8-3c312700b60c/rx","qos":"0","datatype":"json","broker":"8bdb1012.cb9ab","nl":false,"rap":false,"x":100,"y":100,"wires":[["49fd18c.434b768"]]},{"id":"49fd18c.434b768","type":"change","z":"faed66c1.4eb0a","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"Helium","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"payload.reported_at/1000","tot":"jsonata"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"hotspots","pt":"msg","to":"payload.hotspots","tot":"msg"},{"t":"set","p":"payload.devname","pt":"msg","to":"dev_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":120,"wires":[["f2fc507a.d83a08"]]},{"id":"8c12845b.57d928","type":"function","z":"faed66c1.4eb0a","name":"Check and combine","func":"\nvar merged = {};\n\nif (msg.payload.length > 1)\n{\n    if (msg.payload[0].devname === msg.payload[1].devname)\n    {\n        merged.devname = msg.payload[0].devname;\n        merged.temperature_c = msg.payload[0].temperature_c;\n        merged.humidity_percent = msg.payload[1].humidity_percent;\n    \n        msg.payload = merged;\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":200,"wires":[[]]},{"id":"9d9bbaee.6c4b2","type":"mqtt in","z":"55027602.a97d88","name":"Helium Sensecap Big 8-in-1","topic":"helium/sensecap-big-lorawan/4ee34b88-25e8-41d6-a873-509798bbd9fb/rx","qos":"0","datatype":"json","broker":"8bdb1012.cb9ab","nl":false,"rap":false,"x":190,"y":100,"wires":[[]]},{"id":"b79107a2.441cd","type":"change","z":"55027602.a97d88","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"Helium","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"payload.reported_at/1000","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.metadata.labels[0].name","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.fcnt","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.decoded.payload.derived_port","tot":"msg"},{"t":"set","p":"hotspots","pt":"msg","to":"payload.hotspots","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.decoded.payload","tot":"msg"},{"t":"set","p":"payload.devname","pt":"msg","to":"dev_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":120,"wires":[["e8bb56f0.ce5d28"]]},{"id":"8f2520a1.d7301","type":"join","z":"55027602.a97d88","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":650,"y":160,"wires":[["da3db547.72fac8"]]},{"id":"2642452f.fd741a","type":"delay","z":"55027602.a97d88","name":"Delay 15 sec","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":100,"wires":[["8f2520a1.d7301"]]},{"id":"e8bb56f0.ce5d28","type":"switch","z":"55027602.a97d88","name":"Check part number","property":"payload.part_number","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":200,"y":180,"wires":[["2642452f.fd741a"],["8f2520a1.d7301"],[]]},{"id":"da3db547.72fac8","type":"function","z":"55027602.a97d88","name":"Check and merge","func":"\nlet len = msg.payload.length;\nvar combined = {};\n\nvar ifpart1 = false;\nvar ifpart2 = false;\n\nlet devname_1 = msg.payload[0].devname; // needs changing\ncombined.devname = devname_1;\n\n// We look at all the parts that match this first sensor name\nfor (var i = 0; i<len; i++)\n{\n    var subpart = msg.payload[i];\n    \n    if ( subpart.devname != devname_1)\n        continue;\n    \n    if ( subpart.part_number == 1 )\n    {\n        ifpart1 = true;\n        combined.temperature_c = subpart.temperature_c;\n        combined.humidity_percent = subpart.humidity_percent;\n        combined.light_intensity_lux = subpart.light_intensity_lux;\n        combined.uv_index = subpart.uv_index;\n        combined.wind_spd_ms = subpart.wind_spd_ms;\n    } else if ( subpart.part_number==2 )\n    {\n        ifpart2 = true;\n        combined.pressure_hpa = subpart.pressure_hpa;\n        combined.wind_dir_deg = subpart.wind_dir_deg;\n        combined.rain_1hr_mm = subpart.rain_1hr_mm;\n    }\n}\n\n// Both part_numbers are needed to continue on\nif ( ifpart1 && ifpart2)\n{\n    msg.payload = combined;\n    return msg;\n}\n// else... don't send anything\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":200,"wires":[[]]},{"id":"454c6a3f.f95eb4","type":"inject","z":"ebbe2b7a.a97ce","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":160,"y":800,"wires":[["2791c127.ab211e"]]},{"id":"2791c127.ab211e","type":"function","z":"ebbe2b7a.a97ce","name":"","func":"\n\nconst v1 = 'AAUBxtRfZDQSvrr+ygEFALBREoSwrzMAAABhZyePxgAAAACo7TIygI2SAIUQQjA='\nconst v2 = 'AgZSnuqsKB/SBbmdbeFGA0NUfgTbsKSq1hF8H9mROLqxb3JQExIQvqbMz7HS+fMR+0sPD2krr5d/DtfyyIaNb/1gYAaf0gWTZG39RaGFPtGTMTFTrQ=='\nconst v3 = 'AwYBaq0GExHa2BgaJJTy3MQ82lWvIe07UCK9OtrGuD+Z2Hq1N6WpjlTVgSG6qqfWI3Tk5CI3CgDFEx/ITosoH6th2A=='\nconst v4 = 'AwYBdepYQXE23LJUvymHxoVhaTdhFwfshrznXC4iMYNPtTj56pixqWtBu7FgNX9DXyR3aK+TcCkbqLjpd+fIBa02FwIGUmQQvMGWTb+WF86Y91s+Qu9t8XZDsNJL6JMvbrx0brdVtTwQJOIoNfFNy4I2d0Z9qk7lq2nAySAHbJSNpUoE97oakcxgS87S4iWY3EuwiJaWE1ABBgCwURKEsK8zAAAAYWcnj8YAAAAAqO0yMoCNkgCFEEIwAAYBxtRfZDQSvrr+yg=='\n\nmsg.payload = v4;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":800,"wires":[["525b6928.714398"]]},{"id":"525b6928.714398","type":"eosio-push","z":"ebbe2b7a.a97ce","blockchain":"mainnet","endpoint":"https://telos.caleos.io","customendpoint":"","privkeyfile":"telos_keystore.txt","inputtype":"trx","contract":"","actionname":"","permission":"active","x":570,"y":800,"wires":[[]]},{"id":"ef08632.f8f4a2","type":"catch","z":"ebbe2b7a.a97ce","name":"","scope":["525b6928.714398"],"uncaught":false,"x":460,"y":860,"wires":[["c5e679c4.a990b8"]]},{"id":"c5e679c4.a990b8","type":"debug","z":"ebbe2b7a.a97ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":860,"wires":[]},{"id":"ab6a6d36.864838","type":"mqtt in","z":"55027602.a97d88","name":"TTN v3 s2120 8in1","topic":"v3/eu-sensecap-s2120-8in1@ttn/devices/+/up","qos":"0","datatype":"json","broker":"a60ab471.70968","nl":false,"rap":true,"rh":0,"x":180,"y":440,"wires":[["6948256.82e54dc"]]},{"id":"2ddeb806.93b38","type":"debug","z":"55027602.a97d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":480,"wires":[]},{"id":"d47561eb.2fdcd8","type":"change","z":"55027602.a97d88","name":"Helium Reformat msg","rules":[{"t":"set","p":"network","pt":"msg","to":"TTN","tot":"str"},{"t":"set","p":"unix_time","pt":"msg","to":"payload.reported_at/1000","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"contract","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"dev_id","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"app_id","pt":"msg","to":"payload.metadata.labels[0].name","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"payload.fcnt","tot":"msg"},{"t":"set","p":"port","pt":"msg","to":"payload.decoded.payload.derived_port","tot":"msg"},{"t":"set","p":"hotspots","pt":"msg","to":"payload.hotspots","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.decoded.payload","tot":"msg"},{"t":"set","p":"payload.devname","pt":"msg","to":"dev_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":560,"wires":[[]]},{"id":"6948256.82e54dc","type":"function","z":"55027602.a97d88","name":"TTN Reformat message","func":"\nlet unix_time = Math.floor(Date.now()/1000);\n\nmsg.network = 'TTN';\nmsg.unix_time = unix_time;\n\nvar devname = msg.payload.end_device_ids.device_id.substring(0,12);\n// Re-configure 1 type\nif (devname === 'uyo-sensecap')\n    devname = 'diarymodern3'\nmsg.dev_id = devname;\n\nvar new_payload = {}\nnew_payload.unix_time_s = unix_time;\n\n// Note that this is hardcoded for EU staitons\nvar data_array = msg.payload.uplink_message.decoded_payload.messages;\nfor( let i=0; i<data_array.length; i++ )\n{\n    let ob = data_array[i];\n    \n    if (ob.type === \"Air Temperature\")\n        new_payload.temperature_c = ob.measurementValue;\n    else if ( ob.type === \"Air Humidity\")\n        new_payload.humidity_percent = ob.measurementValue;\n    else if ( ob.type === \"Light Intensity\")\n        new_payload.light_intensity_lux = ob.measurementValue;\n    else if ( ob.type === \"UV Index\")\n        new_payload.uv_index = ob.measurementValue;\n    else if ( ob.type === \"Wind Speed\")\n        new_payload.wind_spd_ms = ob.measurementValue;\n\n        \n}\n\nmsg.payload = new_payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[[]]},{"id":"74a40699.b47e48","type":"debug","z":"55027602.a97d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":440,"wires":[]},{"id":"e19b13aa.397778","type":"eosio-push","z":"4464ce88.883078","blockchain":"other","endpoint":"other","customendpoint":"http://127.0.0.1:8888","privkeyfile":"telos_keystore.txt","inputtype":"action","contract":"ascendweathr","actionname":"pushdatafull","permission":"active","x":870,"y":360,"wires":[[]]
